.ipynb_checkpoints
__pycache__/
.vscode/
*.py[cod]

data/*/
*.err
*.out
*.log
*.txt
*.ckpt
*.tar

debug/
hparam_test/
nocharge_data/
notebooks/
outputs/
src/jobscripts/
src/etc/
_debug/
tmp.sh
*results/
SCRIPTS.md
src/datasets/zinc_dataset.py

*.egg-info
lightning_logs/
